# Python Cache
__pycache__/
*.pyc

# Virtuelle Umgebungen
venv/
.venv/
env/

# Datenbanken (lokale SQLite Dateien sollten meist nicht ins Repo)
#*.db
#*.sqlite3
staticdata/
.staticdata/

# IDE Einstellungen (optional)
.vscode/
.idea/